html, body {height: 100%}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  :first-child {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      line-height: 34px;
      font-size: 1.6em;
      text-align: center;
      border-right: 1px solid rgba(0,0,0,0.2);
}
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open>.dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0,0,0,0.2);
}
.modal{
    top:200px;
    .modal-content{
        border-radius: 0;
    }
     h3.modal-title {
      margin: 0;
      padding: 0 0 5px 0;
      font-size: 18px;
      line-height: 19px;
      font-weight: normal;
    }
    .modal-body{
        text-align: center;
    }
     .modal-body .btn-facebook{
         width: 200px;
     }
}
.form-group input{
    border-radius: 0;
}