html, body {height: 100%}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.loginError{
    font-size: 12px;
    color:#a94442;
    text-align: left;
}
.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  top:70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  :first-child {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      line-height: 34px;
      font-size: 1.6em;
      text-align: center;
      border-right: 1px solid rgba(0,0,0,0.2);
}
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open>.dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0,0,0,0.2);
}
.modal{

    .modal-content{
        border-radius: 0;
    }
     h3.modal-title {
      margin: 0;
      padding: 0 0 5px 0;
      font-size: 18px;
      line-height: 19px;
      font-weight: normal;
    }
    .modal-body{
        text-align: center;
    }
     .modal-body .btn-facebook{
         width: 200px;
     }
}
.form-group input{
    border-radius: 0;
}
.login-divider{
  border-left: 1px solid;
    border-color: #e5e5e5;
  position: absolute;
  height: 100%;
  left: -15px;
}
.orText{
    position: absolute;
  /* height: 100%; */
  left: -30px;
  top: 70px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0eaaa6;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  line-height: 30px;
}

#preloader {
  position: fixed;
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
    opacity: 0.6;
  z-index: 999999999;
    .tb-cell {
      display: table-cell;
      vertical-align: middle;
    }
    #page-loading 
    {
    div {
      width: 40px;
      height: 40px;
      margin: auto;
      border-right: 3px solid #0eaaa6;
      border-bottom: 3px solid transparent;
      border-radius: 100%;
      -webkit-animation: spin .9s linear infinite;
      -moz-animation: spin .9s linear infinite;
      -o-animation: spin .9s linear infinite;
      animation: spin .9s linear infinite;
    }
         p {
          text-align: center;
          text-transform: uppercase;
          z-index: 99;
          padding: 10px 0;
          color: #fff;
          font-size: 12px;
          overflow: hidden;
          margin-top: 5px;
        }
    }
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }

    50% {
        -moz-transform: rotate(180deg)
    }

    100% {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }

    50% {
        -o-transform: rotate(180deg)
    }

    100% {
        -o-transform: rotate(359deg)
    }
}
.login-form, .signUp-form{
    label{
        font-size: 14px;
        float: left;
    }
    p{
        text-align: left;
        font-size: 12px;
    }
}