<div id="hero-container">
<div id="slideshow">
    <div style="display: block; background-image: url('app/assets/images/slideshow/slider2.jpg');"></div>
</div>
<div class="slideshowShadow"></div>
<div class="search-panel">
    <div class="container">
        <form role="form" name="searchForm" novalidate="" class="ng-dirty ng-valid ng-valid-required">
            <div class="col-md-12 padding padding0 margtop6">
                <h4 class="ng-binding">
                    Find a Ride
                </h4>
            </div>
            <div class="col-md-3 col-custom">
                <div class="form-group">
                    <input type="text" googleplace class="form-control border-none" id="origin-place" placeholder="Eg.: New Delhi" required="" ng-model="originPlaceField"  options="autoCompleteOptions" ng-autocomplete="" autocomplete="off">
                </div>
            </div>

            <div class="col-md-3 col-custom">
                <div class="form-group">
                    <input type="text" googleplace class="form-control border-none" id="destination-place" placeholder="Eg.: Chandigarh" ng-model="destinationPlaceField"  options="autoCompleteOptions" ng-autocomplete="" autocomplete="off">
                </div>
            </div>

            <div class="col-md-2 col-custom-button">
                <div class="form-group">
                    <button type="button" ng-click="searchRides()"  class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
    </div>

<div class="container middle-content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 feature-menu">
            <a href="#">
                <span class="s-icon fa fa-map-marker"></span>
                <div class="s-content">
                    <h2 class="centered s-main osLight">Find a ride</h2>
                    <h3 class="s-sub osLight">If you are commuting between office / home / inter city or inter state, share your ride with another one.</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 feature-menu">
            <a href="#">
                <span class="s-icon fa fa-shield"></span>
                <div class="s-content">
                    <h2 class="centered s-main osLight">Trust & Safety</h2>
                    <h3 class="s-sub osLight">Before getting in touch, you can check the trusted profile of the car owners, with a photo, bio and member ratings</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 feature-menu">
            <a href="#">
                <span class="s-icon fa fa-leaf"></span>
                <div class="s-content">
                    <h2 class="centered s-main osLight">Go green</h2>
                    <h3 class="s-sub osLight">Help reduce pollution & traffic on the road. Every shared ride helps</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 feature-menu">
            <a href="#">
                <span class="s-icon fa fa-group"></span>
                <div class="s-content">
                    <h2 class="centered s-main osLight">Travel together</h2>
                    <h3 class="s-sub osLight">Carpool with colleagues and friends going your way and beat the stress</h3>
                </div>
            </a>
        </div>
    </div>
</div>

    <footer>
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <div class="logo-foter">
                            <a  title=""><img src="images/" alt=""></a>
                        </div>
                    </div>
                    <!-- End Logo -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">
                            <ul>
                                <li><a href="about.html" title="">About</a></li>
                                <li><a href="blog.html" title="">Blog</a></li>
                                <li><a href="fqa.html" title="">FQA</a></li>
                                <li><a href="careers.html" title="">Carrers</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">
                            <ul>
                                <li><a href="contact.html" title="">Contact Us</a></li>
                                <li><a href="#" title="">Privacy Policy</a></li>
                                <li><a href="#" title="">Term of Service</a></li>
                                <li><a href="#" title="">Security</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Footer Currency, Language -->
                    <div class="col-sm-6 col-md-4">
                       
                      
                        <!--CopyRight-->
                        <p class="copyright">
                            © 2009 – 2014 ™ All rights reserved.
                        </p>
                        <!--CopyRight-->
                    </div>
                    <!-- End Footer Currency, Language -->
                </div>
            </div>
        </footer>  