<div class="contentWrapper"> 
    <div class="container">
<tabset  vertical="true" type="pills">
    <tab>
        <tab-heading>
        <i  class="fa fa-newspaper-o"></i><span>Profile Details</span>
        </tab-heading>
    </tab>

    <tab>
        <tab-heading>
        <i  class="fa fa-check-circle-o"></i><span>Verification</span>
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
        <i  class="fa fa-car"></i><span>Car Details</span>
        </tab-heading>
    </tab>
   
  </tabset>
        </div>
</div>